/* Write your CSS Here. */
body {
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
}
header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
}
h1 {
  font-size: 50px;
  color: #2C3E50;
}
h2 {
  margin-top: 0;
  margin-bottom: 100px;
  font-size: 25px;
  font-style: italic;
}
.gameBoard {
  margin-right: 150px;
  display: flex;
  flex-direction: row;
}
.column {
  width: 50px;
  height: 300px;
  border: 8px double #007FFF;
  background-color: #AED6F1;
}
.playerBoard {
  width: 200px;
  height: 300px;
  border: 8px double #007FFF;
  font-family: 'Roboto', sans-serif;
  background-color: #AED6F1;
  text-align: center;
}
.instructions {
  height: 150px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px;
}
.instructions h3{
  border-bottom: 1px solid;
}
.turnTracker {
  padding: 10px;
  height: 150px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  color: #FF3E4D
}
.playerRed {
  color: #FF3E4D
}
.playerBlack {
  color: #333333
}
.red {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.startScreen {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 55, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #e1d205;
  font-size: 1.4em;
  padding: 1em 2em;
  border: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;
}

.discSpot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:#f6ec8e;
  border: 1px dashed #FF3E4D;
  margin: 1px;
}
